// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

$sections-color: (
  member: #e51731,
  news: #30bac8,
  entertainment: #bf3284,
  businessmoney: #009045,
  people: #efa256,
  videohub: #969696,
  international: #911f27,
  foodtravel: #eac151,
  mafalda: #662d8e,
  culture: #009245,
  carandwatch: #003153,
  external: #30bac8,
  life: #2ECDA7,
);

:export {
  @each $key, $value in $sections-color {
    section-color-#{$key}: $value;
  }

  @each $key, $value in $grid-breakpoints {
    breakpoint-#{$key}: $value;
  }
}
