.micro-ad {
  height: 100%;
  background-color: #f4f1e9;  
  box-shadow: 5px 5px 5px #bcbcbc;
  @include media-breakpoint-up(xl) {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-20px);
      box-shadow: 5px 15px 5px #bcbcbc;
    }
  }

  &::v-deep {
    #compass-fit-widget {
      height: 100%;
    }

    #compass-fit-widget-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .listArticleBlock__figure {
        position: relative;

        a {
          display: block;
          position: relative;
          padding-top: 66.66%;

          img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .listArticleBlock__figure--colorBlock {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 8px;
          line-height: 1;
          font-size: 16px;
          color: white;
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .listArticleBlock__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 15px 30px;
        text-align: justify;

        h2 {
          color: #34495e;
          font-size: 20.8px;
          font-weight: 300;
          line-height: 1.3;
        }

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          margin: 10px 0 0 0;
          color: #999;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          word-wrap: break-word;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
  }
}

.micro-ad--premium {
  background-color: #F3F1E9;
  box-shadow: none;
    &:hover {
      box-shadow: none;
  }

  &::v-deep {
   
    #compass-fit-widget-content {

      .listArticleBlock__content {
        padding: 20px 20px 36px;
        @include media-breakpoint-up(md) {
          padding: 20px;
        }
        h2 {
          color: #054f77;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
        }

        p {
          color: #979797;
          margin: 20px 0 0 0;
          @include media-breakpoint-up(md) {
            margin: 36px 0 0 0;
          }
        }
      }
    }
  }
}